<% provide(:title, "Edit User") %>
<h2>Update Your Profile</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'signin_form', f: f %>

      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <%= link_to "Change Avatar", "http://gravatar.com/emails", target: "_blank" %>
  </div>
</div>